
  
  .navbar {
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    position: relative;
  }
  
  .navbar-left a.logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-menu li {
    position: relative;
  }
  
  .navbar-menu li a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-menu li a:hover {
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .navbar-menu li a span {
    margin-right: 8px;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
  }
  
  .dropdown-content li a {
    padding: 10px;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Right Section (Premium Button and Profile) */
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .premium-btn {
    background-color: #f39c12;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .premium-btn:hover {
    background-color: #e67e22;
    transition: background-color 0.3s;
  }
  
  .profile-icon {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 28px;
  }
  
  .menu-icon {
    color: white;
    cursor: pointer;
    display: none;
    font-size: 30px;
    margin-left: 15px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
    }
  
    .navbar-menu {
      flex-direction: column;
      display: none; /* Initially hidden */
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
    }
  
    .navbar-menu li {
      width: 100%;
      text-align: left;
    }
  
    .navbar-menu li a {
      width: 100%;
      padding: 10px;
    }
  
    .navbar-right {
      display: flex;
      align-items: center;
    }
  
    /* Menu Icon visible in mobile */
    .menu-icon {
      display: block;
    }
  }
  
  @media (max-width: 480px) {
    .navbar-menu li a {
      padding: 10px 5px;
    }
  
    .premium-btn {
      padding: 5px 10px;
    }
  }
  